.card {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:5px;
    overflow: hidden;
}

.performanceWidget{
    position: relative; 
    top: -40px;
}

.detailView {
    padding: 5px;
    max-width: 100px;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.detailView:hover {
    box-shadow: 0 0 10px orange;
}

.detailLink {
    background-color: '#131313';
    position: 'relative';
    bottom: '80px';
    color: '#000';
}

.detailLink:hover {
    border-color: 'orange'
}