.detailLink {
    background-color: '#131313';
    position: 'relative';
    bottom: '80px';
    color: '#000';
}

.detailLink:hover {
    border-color: 'orange'
}

.widget {
    background-color: '#131313';
    text-align: 'center';
    color: '#000';
    overflow: 'hidden';
    max-height: '350px';
    border-color: '#131313';
}